.clients {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.clients__item {
  box-sizing: border-box;
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;

  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.clients__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
